*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar1{
    background-color: #7FB3D5;
    padding-left: 20px;
}
.nav-bar2{
    background-color: #F1948A ;
    height: 50px;
    padding-top: 10px;
    padding-left: 20px;
}
.container{
    position: relative;
    width: 100%;
    min-height: 100%;
   
    padding-top: 100px;
}
.card{
    background-color: #F4F6F6;
    width: 20%;
    height: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: absolute;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
   
    padding-bottom: 30px;

}
.card1{
    margin-left: 200px;
}
.card2{
    margin-left: 520px;
}
.card3{
    margin-left: 830px;
    margin-right: 50px;
}
.img_fondo{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;

}
.img-personaje{
    border-radius: 50%;
    position: absolute;
    margin-top: 90px;
    right: 70px;

}

.corazon{
    position: absolute;
    top: 10px;
}
p{
    padding: 20px;
}
h2{
    padding-top: 40px;
    
    text-align: center;

    
}
button{
    background-color:  #7FB3D5;
    position: relative;
    left: 70px;
    height: 40px;
    width: 100px;
    color: #F4F6F6;
    font-weight: 500;
    
}
footer{
    position: absolute;
    background-color: #7FB3D5;
    bottom: -100px;
    width: 100%;
    height: 50px;

}
footer h2{
    font-size: 18px;
   
    
}
